.navbar {
  background-color: rgb(209, 153, 255);
  height: 120px;
  color: white
}

.maininfo {
  background-color: lightgrey;
  height: 650px;
  color: white
}

.points {
  background-color: grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white
}

.sponsors {
  background-color: lightgrey;
  height: 100px;
  color: white
}

.judges {
  background-color: grey;
  height: 100px;
  color: white
}

.faq {
  background-color: lightgrey;
  height: 100px;
  color: white
}

.footer {
  background-color: grey;
  height: 100px;
  color: white
}

.login {
  background-color: black;
  height: 100px;
  color: white
}

.profile {
  background-color: black;
  height: 100px;
  color: white
}

.flex-points {
  height: 200px;
  width: 33.3%
}

.logo {
  height: 120px;
  width: 120px;
  
}
