.navbar {
  background-color: rgb(209, 153, 255);
  height: 130px;
  color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .5)
}

.maininfo {
  background-color: rgb(255, 255, 255);
  height: 650px;
  color: rgb(158, 158, 158)
}

.points {
  background-color: rgb(209, 153, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  height: 650px;
  
}

.sponsors {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 150px;
  color: rgb(143, 143, 143)
}

.judges {
  background-color: rgb(209, 153, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
  color: white;
  
}

.faq {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 900px;
  color: rgb(133, 133, 133);
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.footer {
  background-color: rgb(209, 153, 255);
  height: 100px;
  color: white
}

.login {
  background-color: black;
  height: 100px;
  color: white
}

.profile {
  background-color: white;
  height: 100px;
  color: white
}

.flex-points {
  height: 180px;
  width: 33.3%;
  margin-top: 2em;
}

.logo {
  height: 120px;
  width: 120px;
  
}

.pointsIcons {
  height: 200px;
  width:auto;
}

.pointsText {
  padding-left: 20px;
  font-size: 25px;
  font-family: 'Catamaran', sans-serif;
}

.sponsorsImage {
  height: 140px;
  width:auto;
  margin-left: 50px;
  
}

#google {
  height: 20%;
  width: auto;
  margin-top: 43px;
  margin-left: 50px;
}

#spotify {
  margin-top: 10px;
  margin-left: -550px;
}

#etsy {
  margin-top: 10px;
  margin-left: -250px;
}

#mongo {
  height: 30%;
  
  margin-top: 10px;
  
}

#ibm {
  height: 30%;
  
  margin-top: 10px;
  position: relative;
  top: -350px;
  left: 1100px;

}

.judge {
  height: 180px;
  width: 33.3%;
  margin-top: 2em;
  
} 

.judgeImage {
  height: 200px;
  width: auto;
  }

  .judgeText {
    font-size: 30px;
    font-family: 'Catamaran', sans-serif;
    margin-left: 40px;
  }

  .judgeDiv {
    background-color: rgb(209, 153, 255);
    font-family: 'Catamaran', sans-serif;
    color: white;
    
  }

  .judgeDiv > h1 {
    margin-left: 20px;
    margin-top: 15px;
  }


