.navbar {
  background-color: grey;
  height: 100px;
  color: white
}

.maininfo {
  background-color: lightgrey;
  height: 650px;
  color: white
}

.points {
  background-color: grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white
}

.sponsors {
  background-color: lightgrey;
  height: 100px;
  color: white
}

.judges {
  background-color: grey;
  height: 100px;
  color: white
}

.faq {
  background-color: lightgrey;
  height: 100px;
  color: white
}

.footer {
  background-color: grey;
  height: 100px;
  color: white
}

.loginform {
  background-color: black;
  height: 100px;
  color: white
}

.profile {
  background-color: black;
  height: 100px;
  color: white
}

.flex-points {
  height: 200px;
  width: 33.3%
}
